<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruiruisun.stock.mapper.GoodsCategoryMapper">

    <resultMap id="GoodsCategoryMap" type="com.ruiruisun.stock.entity.GoodsCategory">
        <result column="id" jdbcType="INTEGER" property="id" javaType="int" />
        <result column="name" jdbcType="VARCHAR" property="username" javaType="string" />
        <result column="create_time" jdbcType="BIGINT" property="password" javaType="int" />
        <result column="update_time" jdbcType="BIGINT" property="name" javaType="int" />
    </resultMap>

    <select id="findAll" resultType="com.ruiruisun.stock.entity.GoodsCategory">
        select * from goods_category
    </select>

    <select id="findOne" resultType="com.ruiruisun.stock.entity.GoodsCategory">
        select * from goods_category WHERE id = #{id}
    </select>

    <insert id="create" parameterType="com.ruiruisun.stock.entity.GoodsCategory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `goods_category` (`name`, `create_time`, `update_time`) VALUES (#{name}, unix_timestamp(now()), 0)
    </insert>

    <update id="update" parameterType="com.ruiruisun.stock.entity.GoodsCategory">
        UPDATE `goods_category` SET `name` = #{name}, `update_time` = unix_timestamp(now()) WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="com.ruiruisun.stock.entity.GoodsCategory">
        DELETE FROM `goods_category` WHERE id = #{id}
    </delete>
</mapper>