<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruiruisun.stock.mapper.GoodsLogMapper">

    <resultMap id="GoodsLogMap" type="com.ruiruisun.stock.entity.GoodsLog">
        <result column="id" jdbcType="INTEGER" property="id" javaType="int" />
        <result column="name" jdbcType="VARCHAR" property="name" javaType="string" />
        <result column="goods_id" jdbcType="INTEGER" property="id" javaType="int" />
        <result column="price" jdbcType="FLOAT" property="price" javaType="float" />
        <result column="amount" jdbcType="FLOAT" property="amount" javaType="float" />
        <result column="unit" jdbcType="VARCHAR" property="unit" javaType="string" />
        <result column="create_time" jdbcType="BIGINT" property="create_time" javaType="int" />
        <result column="update_time" jdbcType="BIGINT" property="update_time" javaType="int" />
    </resultMap>

    <select id="findAll" resultType="com.ruiruisun.stock.entity.GoodsLog">
        select * from goods_log ORDER BY `id` DESC
    </select>

    <select id="findAllByGoodsId" resultType="com.ruiruisun.stock.entity.GoodsLog">
        select * from goods_log WHERE `goods_id` = #{goods_id} ORDER BY `id` DESC
    </select>

    <select id="findAllByName" resultType="com.ruiruisun.stock.entity.GoodsLog">
        select * from goods_log WHERE name = #{name} AND id != #{id}
    </select>

    <select id="findOne" resultType="com.ruiruisun.stock.entity.GoodsLog">
        select * from goods_log WHERE id = #{id}
    </select>

    <insert id="create" parameterType="com.ruiruisun.stock.entity.GoodsLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `goods_log` (`name`, `goods_id`, `price`, `discount_price`, `amount`, `create_time`, `update_time`) VALUES (#{name}, #{goods_id}, #{price}, #{discount_price}, #{amount}, unix_timestamp(now()), 0)
    </insert>

    <update id="update" parameterType="com.ruiruisun.stock.entity.GoodsLog">
        UPDATE `goods_log` SET `name` = #{name}, `goods_id` = #{goods_id}, `price` = #{price}, `discount_price` = #{discount_price}, `amount` = #{amount}, `update_time` = unix_timestamp(now()) WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="com.ruiruisun.stock.entity.GoodsLog">
        DELETE FROM `goods_log` WHERE id = #{id}
    </delete>

    <select id="day" resultType="com.ruiruisun.stock.bean.GoodsLogDayBean">
        SELECT g.`name` AS goods_name, gl.goods_id, SUM(gl.price * gl.amount) AS total, SUM(gl.amount) AS amount FROM goods_log gl LEFT JOIN `goods` g ON g.id = gl.goods_id WHERE DATE_FORMAT(FROM_UNIXTIME(gl.create_time), '%Y-%m-%d') = #{date} GROUP BY gl.goods_id ORDER BY total DESC
    </select>
</mapper>