<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruiruisun.stock.mapper.OrderPaymentLogMapper">

    <resultMap id="BaseResultMap" type="com.ruiruisun.stock.entity.OrderPaymentLog">
        <result column="id" jdbcType="INTEGER" property="id" javaType="int" />
        <result column="payment_order_id" jdbcType="INTEGER" property="payment_order_id" javaType="int" />
        <result column="money" jdbcType="FLOAT" property="money" javaType="float" />
        <result column="payment_id" jdbcType="INTEGER" property="payment_id" javaType="int" />
        <result column="create_time" jdbcType="BIGINT" property="create_time" javaType="int" />
        <result column="update_time" jdbcType="BIGINT" property="update_time" javaType="int" />
    </resultMap>

    <select id="all" resultType="com.ruiruisun.stock.entity.OrderPaymentLog">
        select * from `order_payment_log`
    </select>

    <select id="findOne" resultType="com.ruiruisun.stock.entity.OrderPaymentLog">
        select * from `order_payment_log` WHERE id = #{id}
    </select>
</mapper>