<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruiruisun.stock.mapper.OrderMapper">

    <resultMap id="OrderMap" type="com.ruiruisun.stock.entity.Order">
        <result column="id" jdbcType="INTEGER" property="id" javaType="int" />
        <result column="buyer_id" jdbcType="INTEGER" property="buyer_id" javaType="int" />
        <result column="total" jdbcType="FLOAT" property="total" javaType="float" />
        <result column="create_time" jdbcType="BIGINT" property="create_time" javaType="int" />
        <result column="update_time" jdbcType="BIGINT" property="update_time" javaType="int" />
    </resultMap>

    <select id="findAll" resultType="com.ruiruisun.stock.entity.Order">
        select * from `order`
    </select>

    <select id="findOne" resultType="com.ruiruisun.stock.entity.Order">
        select * from `order` WHERE id = #{id}
    </select>

    <insert id="create" parameterType="com.ruiruisun.stock.entity.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `order` (`buyer_id`, `total`, `create_time`, `update_time`) VALUES (#{buyer_id}, #{total}, unix_timestamp(now()), 0)
    </insert>

    <delete id="delete" parameterType="com.ruiruisun.stock.entity.Order">
        DELETE FROM `order` WHERE id = #{id}
    </delete>
</mapper>